<header class="brand-name">
  <a [routerLink]="['/']">
    <img class="brand-logo" src="/book-solid.svg" height=60px alt="logo" aria-hidden="true" />
  </a>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="My Account menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngIf="!authService.authenticated()">
      <button mat-menu-item (click)="signIn()">
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </button>
    </div>
    <div *ngIf="authService.authenticated()">
      <button mat-menu-item [routerLink]="['/account']">
        <mat-icon>person</mat-icon>
        <span>My Account</span>
      </button>
      <button mat-menu-item [routerLink]="['/my-library']">
        <mat-icon>local_library</mat-icon>
        <span>My Library</span>
      </button>
      <button mat-menu-item [routerLink]="['/users']">
        <mat-icon>group</mat-icon>
        <span>Friends</span>
      </button>
      <button mat-menu-item (click)="authService.signOut()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </div>
  </mat-menu>
</header>
