header {
  display: block;
  height: 36px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
button {
  float: right;
}
a {
  color: black;
  text-decoration: none;
}
span.title {
  line-height: 36px;
  font-size: 36px;
  margin-left: 4px;
}
